/* Estilo dos Produtos */
:host.home {
  flex: 0 0 23%;
  margin: 1%;

  .produto-card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background: #fff;

    .produto-img img {
      width: 100%;
      height: auto;
      border-bottom: 1px solid #ddd;
    }

    .produto-info {
      padding: 20px;

      h3 {
        margin: 0 0 10px;
        font-size: 1.5em;
        color: #333;
      }

      p {
        color: #777;
      }

      .preco {
        display: block;
        margin: 10px 0;
        font-size: 1.2em;
        color: #f4912d;
      }

      .btn-comprar {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #f4912d;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      .btn-comprar:hover {
        background-color: #e18526;
      }
    }
  }
}

:host.produtos{
  width: 30%;
  margin: 1.5%;

  .produto-card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background: #fff;

    .produto-img img {
      width: 100%;
      height: auto;
      border-bottom: 1px solid #ddd;
    }

    .produto-info {
      padding: 20px;

      h3 {
        margin: 0 0 10px;
        font-size: 1.5em;
        color: #333;
      }

      p {
        color: #777;
      }

      .preco {
        display: block;
        margin: 10px 0;
        font-size: 1.2em;
        color: #f4912d;
      }

      .btn-comprar {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #f4912d;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
      .btn-comprar:hover {
        background-color: #e18526;
      }
    }
  }
}
