<h1>FILTROS</h1>

<section class="preco">
  <h2>Faixa de preço</h2>

  <mat-slider min="0" max="100000" step="1000" showTickMarks discrete [displayWith]="formatLabel">
  <input matSliderThumb>
</mat-slider>
</section>

<section class="cores">
  <h2>Cor</h2>
  <mat-checkbox class="example-margin">Preto</mat-checkbox>
  <mat-checkbox class="example-margin">Branco</mat-checkbox>
  <mat-checkbox class="example-margin">Azul</mat-checkbox>
  <mat-checkbox class="example-margin">Vermelho</mat-checkbox>
  <mat-checkbox class="example-margin">Azul</mat-checkbox>
</section>
