:host{
  min-height: 100px;
  height: 10vh;
  width: 100%;
}

.header_interativo{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .logo, .icons{
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    mat-icon{
      height: 50%;
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      &:nth-child{
        color: white;
        height: 100%;
        width: 100%;
      }
    }
  }
  .search_bar{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
