:host{
  min-height: 100px;
  height: 10vh;
  width: 100%;
}

.header_interativo{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .logo{
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .icons{
    height: 100%;
    width: 15%;

    .icones{
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .select1, .select2{
        width: 50%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .select1{
        mat-icon{
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          font-size: 32px;
          cursor: pointer;
        }
      }
      .select2{
        button{
          height: 100%;
          width: 100%;

          mat-icon{
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 32px;
          }
        }
      }
    }

    .cart {
      transform: translateX(calc(-84vw - 30vw));
      position: fixed;
      top: 0;
      display: block;
      width: 30vw;
      min-height: 100vh;
      padding: 20px;
      color: white;
      background: var(--laranja-primeiro);
      box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
      transition: 0.3s;
      z-index: 9999;
    }

    .cart.active {
      right: 0;
    }

    .cart-title {
      text-align: center;
      font-size: 1.5rem;
      font-weight: 600;
      margin-top: 2rem;

    }

    .cart-box {
      display: grid;
      grid-template-columns: 32% 50% 18%;
      align-items: center;
      gap: 1rem;
      margin-top: 1rem;
    }

    .cart-img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      padding: 10px;
    }

    .detail-box {
      display: grid;
      row-gap: 0.5rem;
    }

    .cart-product-title {
      font-size: 1.3rem;
      text-transform: uppercase;
    }

    .cart-price {
      font-weight: 500;
    }

    .cart-quantity {
      border: 1px solid var(black);
      outline-color: black;
      width: 2.4rem;
      text-align: center;
      font-size: 1rem;
    }

    .cart-remove {
      width: 20px;
      height: 20px;
      cursor: pointer;
      color: red;
    }

    .total {
      display: flex;
      justify-content: flex-end;
      margin-top: 1.5rem;
      border-top: 1px solid black;
    }

    .total-title {
      font-size: 1rem;
      font-weight: 600;
    }

    .total-price {
      margin-left: 0.5rem;
    }

    .btn-buy {
      display: flex;
      margin: 1.5rem auto 0 auto;
      padding: 12px 20px;
      border: none;
      border-radius: .5em;
      background-color: rgb(252, 151, 18);
      color: azure;
      font-size: 1rem;
      font-weight: 500;
      cursor: pointer;
      transition: all .25s ease;

      &:hover {
        background: var(--verde-primeiro);
      }
    }

    .close-cart {
      position: absolute;
      top: 1rem;
      right: 0.8rem;
      color: white;
      cursor: pointer;
    }
  }

  .search_bar{
    height: 100%;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;

    input{
      width: 80%;
      height: 50%;
      outline: none;
      border: none;
      border-bottom-left-radius: 1.25em;
      border-top-left-radius: 1.25em;
      padding: 0 2% 0 4%;
      font-size: 16px;
      color: rgb(25, 25, 25);
    }
    input:focus ~ button{
      border-bottom-right-radius: 1.5em;
      border-top-right-radius: 1.5em;
      background-color: lightgray;
    }

    button{
      min-width: 40px;
      width: 10%;
      height: 50%;
      border: none;
      outline: none;
      border-bottom-right-radius: 1.5em;
      border-top-right-radius: 1.5em;
      cursor: pointer;
      transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);

      .mat-icon{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        font-size: 28px;
      }
    }
    button:hover, input:focus ~ button:hover{
      border-bottom-right-radius: 1.5em;
      border-top-right-radius: 1.5em;
      background-color: darkgray;
    }
  }
}
