<div class="header_interativo">
  <div class="logo">
    <img src="logo.png" alt="Logo da Petshop" />
  </div>

  <form class="search_bar">
    <input type="text" placeholder="Pesquisar produtos" />
    <button type="submit"><mat-icon>search</mat-icon></button>
  </form>

  <div class="icons">
    <a href="">
      <mat-icon>shopping_cart</mat-icon>
    </a>

    <button mat-button [matMenuTriggerFor]="menu"><mat-icon>account_circle</mat-icon></button>
    <mat-menu #menu="matMenu">
      <a href="/login" mat-menu-item>Login</a>
      <a href="/conta" mat-menu-item>Conta</a>
    </mat-menu>
  </div>
</div>
