:host{
  height: 100%;
  width: 100%;

  swiper-container{
    height: 100%;
    width: 100%;
  }

  .img1{
    height: 100%;
    width: 100%;
    background-color: var(--laranja-primeiro);
  }
  .img2{
    height: 100%;
    width: 100%;
    background-color: var(--laranja-primeiro);
  }
  .img3{
    height: 100%;
    width: 100%;
    background-color: var(--laranja-primeiro);
  }
}
