<article>
  <section class="section-categoria">
    <label for="categoria">Categoria:</label>
    <select id="categoria">
      <option value="todas">Todas as Categorias</option>
      <option value="alimentos">Alimentos</option>
      <option value="brinquedos">Brinquedos</option>
      <!-- Adicione mais opções conforme necessário -->
    </select>
  </section>

  <section class="section-ordenacao">
    <label for="ordenacao">Ordenar por:</label>
    <select id="ordenacao">
      <option value="padrao">Padrão</option>
      <option value="precoCrescente">Preço Crescente</option>
      <option value="precoDecrescente">Preço Decrescente</option>
    </select>
  </section>
</article>
