 <div class="logo">
    <img src="logo.png" alt="Logo da Petshop">
</div>

<div class="search-bar">
    <input type="text" placeholder="Pesquisar produtos">
    <button type="submit"><i class="fas fa-search"></i></button>
</div>

<div class="user-cart-icons">
    <i class="fas fa-user"></i>
    <i class="fas fa-shopping-cart"></i>
</div>

<nav>
    <a href="home.html">Home</a>
    <a href="#">Gatos</a>
    <a href="produtos.html">Produtos</a>
    <a href="loginCadastro.html">Login ou Registro</a>
</nav>