article{
  height: auto;
  width: 100%;

  .banner{
    height: 45vh;
    width: 100%;
  }
  .products{
    height: 90em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}
