<app-container-header>
  <app-header-top></app-header-top>
  <app-header-bottom></app-header-bottom>
</app-container-header>

<article class="home_body">
  <section class="banner">
    <app-banner-carousel
      src1=""
      alt1="Conteúdo Promocional 1"

      src2=""
      alt2="Conteúdo Promocional 2"

      src3=""
      alt3="Conteúdo Promocional 3"
    ></app-banner-carousel>
  </section>

  <img src="https://capsule-render.vercel.app/api?type=waving&color=f4912d&height=80&section=header" class="img-transicao"/>

  <!--Primeira fileira de produtos-->
  <section class="products">
    <app-items-carousel text="Lançamentos">
      <app-card-produto *ngFor="let produto of lancamentos" [src]="produto.src" [alt]="produto.alt" [nome]="produto.nome" [preco]="produto.preco" class="home"></app-card-produto>
    </app-items-carousel>

    <!--Promoção 1-->
    <div class="oferta missao-valores">
      <img src="https://capsule-render.vercel.app/api?type=waving&color=4eed73&height=80&section=footer" class="img-transicao-top"/>

      <div class="conteudo-container">
        <h1>kk</h1>
      </div>

      <img src="https://capsule-render.vercel.app/api?type=waving&color=4eed73&height=80&section=header" class="img-transicao-bottom"/>
    </div>

    <!--Primeira fileira de produtos-->
    <app-items-carousel text="Promoções">
      <app-card-produto *ngFor="let produto of produtos" [id]="produto.id" [foto]="produto.foto" [nome]="produto.nome" [descricao]="produto.descricao" [preco]="produto.preco" [quantidade]="produto.quantidade" class="home"></app-card-produto>
    </app-items-carousel>

    <!--Promoção 2-->
    <div class="oferta missao-valores">
      <img src="https://capsule-render.vercel.app/api?type=waving&color=f4912d&height=80&section=footer" class="img-transicao-top"/>

      <div class="conteudo-container missao-valores">
        <h1>kk</h1>
      </div>

      <img src="https://capsule-render.vercel.app/api?type=waving&color=f4912d&height=80&section=header" class="img-transicao-bottom"/>
    </div>

    <!--Primeira fileira de produtos-->
    <app-items-carousel text="Mais vendidos">
      <app-card-produto *ngFor="let produto of maisVendidos" [src]="produto.src" [alt]="produto.alt" [nome]="produto.nome" [preco]="produto.preco" class="home"></app-card-produto>
    </app-items-carousel>
  </section>

  <img src="https://capsule-render.vercel.app/api?type=waving&color=000000&height=80&section=footer" class="img-transicao"/>
</article>

<app-footer></app-footer>
