<app-container-header>
  <app-header-top></app-header-top>
  <app-header-bottom></app-header-bottom>
</app-container-header>

<article class="home_body">
  <section class="banner">
    <app-banner-carousel
      src1=""
      alt1="Conteúdo Promocional 1"

      src2=""
      alt2="Conteúdo Promocional 2"

      src3=""
      alt3="Conteúdo Promocional 3"
    ></app-banner-carousel>
  </section>

  <section class="products">
    <app-items-carousel text="Lançamentos">
      <app-card-produto class="home" src="" alt="imagem"></app-card-produto>
      <app-card-produto class="home" src="" alt="imagem"></app-card-produto>
      <app-card-produto class="home" src="" alt="imagem"></app-card-produto>
      <app-card-produto class="home" src="" alt="imagem"></app-card-produto>
      <app-card-produto class="home" src="" alt="imagem"></app-card-produto>
      <app-card-produto class="home" src="" alt="imagem"></app-card-produto>
    </app-items-carousel>

    <app-items-carousel text="Promoções">
      <app-card-produto class="home" src="" alt="imagem"></app-card-produto>
      <app-card-produto class="home" src="" alt="imagem"></app-card-produto>
      <app-card-produto class="home" src="" alt="imagem"></app-card-produto>
      <app-card-produto class="home" src="" alt="imagem"></app-card-produto>
      <app-card-produto class="home" src="" alt="imagem"></app-card-produto>
      <app-card-produto class="home" src="" alt="imagem"></app-card-produto>
    </app-items-carousel>

    <app-items-carousel text="Mais vendidos">
      <app-card-produto class="home" src="" alt="imagem"></app-card-produto>
      <app-card-produto class="home" src="" alt="imagem"></app-card-produto>
      <app-card-produto class="home" src="" alt="imagem"></app-card-produto>
      <app-card-produto class="home" src="" alt="imagem"></app-card-produto>
      <app-card-produto class="home" src="" alt="imagem"></app-card-produto>
      <app-card-produto class="home" src="" alt="imagem"></app-card-produto>
    </app-items-carousel>
  </section>
</article>

<app-footer></app-footer>
