<article>
  <app-card-produto class="produtos" src="" alt="imagem"></app-card-produto>
  <app-card-produto class="produtos" src="" alt="imagem"></app-card-produto>
  <app-card-produto class="produtos" src="" alt="imagem"></app-card-produto>
  <app-card-produto class="produtos" src="" alt="imagem"></app-card-produto>
  <app-card-produto class="produtos" src="" alt="imagem"></app-card-produto>
  <app-card-produto class="produtos" src="" alt="imagem"></app-card-produto>
  <app-card-produto class="produtos" src="" alt="imagem"></app-card-produto>
  <app-card-produto class="produtos" src="" alt="imagem"></app-card-produto>
  <app-card-produto class="produtos" src="" alt="imagem"></app-card-produto>
</article>
