<article>
  <app-card-produto class="produtos" src="./assets/youtube.png" alt="imagem"></app-card-produto>
  <app-card-produto class="produtos" src="./assets/youtube.png" alt="imagem"></app-card-produto>
  <app-card-produto class="produtos" src="./assets/youtube.png" alt="imagem"></app-card-produto>
  <app-card-produto class="produtos" src="./assets/youtube.png" alt="imagem"></app-card-produto>
  <app-card-produto class="produtos" src="./assets/youtube.png" alt="imagem"></app-card-produto>
  <app-card-produto class="produtos" src="./assets/youtube.png" alt="imagem"></app-card-produto>
  <app-card-produto class="produtos" src="./assets/youtube.png" alt="imagem"></app-card-produto>
  <app-card-produto class="produtos" src="./assets/youtube.png" alt="imagem"></app-card-produto>
  <app-card-produto class="produtos" src="./assets/youtube.png" alt="imagem"></app-card-produto>
  <app-card-produto class="produtos" src="./assets/youtube.png" alt="imagem"></app-card-produto>
  <app-card-produto class="produtos" src="./assets/youtube.png" alt="imagem"></app-card-produto>
  <app-card-produto class="produtos" src="./assets/youtube.png" alt="imagem"></app-card-produto>
</article>
