<footer>
  <div class="d1">
    <div class="d2">
        <div class="text">
            <h1>Cadastre-se agora para não perder nosso programa</h1>
        </div>
        <div class="d3">
            <form class="d-flex" role="search">
                <input class="inputForm form-control me-2" type="search" placeholder="Coloque seu E-mail"
                    aria-label="Search">
            </form>
            <button type="button" class="inputButton btn btn-primary"><p>Inscreva-se</p></button>
        </div>
    </div>
    <div class="d4">
        <div class="link">
            <a href="">Home</a>
            <a href="">Catálogo</a>
            <a href="">Sobre nós</a>
            <a href="">Contatos</a>
        </div>
        <div class="icons">
            <img src="img/face.png" alt="" height="20vh">
            <img src="img/twitter.png" alt="" height="22vh">
            <img src="img/instagram.png" alt="" height="20vh">
            <img src="img/youtube.png" alt="" height="20vh">
        </div>
    </div>
    <hr>
    <div class="geral">
        <div class="licens">
            <p>© 2022 Monito. Todos os direitos reservados.</p>
        </div>
        <div class="logo">
            <img class="img1" src="img/logo.PNG" alt="">
        </div>
        <div class="termos">
            <p class="p1">Termos de serviço</p>
            <p>Política de Privacidade</p>
        </div>
    </div>
  </div>
</footer>
